.contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 30px 100px;

    margin-top: 50px;
}

.contenedor-imagenes a {
    text-decoration: none;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-producto {
    width: 200px;
    height: 360px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    margin: 30px;

    border: solid darkgrey 1.5px;

}

.contenedor-producto img {
    height: 200px;
}

.contenedor-producto h1 {
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    color: lightgrey;
    
    margin: 0;
    margin-top: 20px;
}

.contenedor-producto h4 {
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    color: grey;
    margin: 0;

}

.contenedor-producto h5 {
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    color: grey;
    margin: 0;
    margin-top: 20px;

}


p{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    font-family: "montserrat", sans-serif;
}

.list-button-ver {
    cursor: pointer;

    width: 200px;
    margin-top: 10px;
    padding: 11px;

    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 11px;
    background-color: rgb(24, 24, 24);
    border: none;

}