.contenedor-item {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.item-img {
    width: 400px;
    margin-right: 150px;
}

.detalles-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: "montserrat", sans-serif;
}

.detalles-item h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
}

.detalles-item h2 {
    margin: 0;
    color: grey;
}

.detalles-item p {
    margin-top: 30px;
    font-size: 11px;
}

.detalles-item h5 {
    margin: 0;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.button-comprar {
    cursor: pointer;

    margin-top: 10px;
    padding: 10px;

    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 11px;
    background-color: black;
    border: none;

}

.button-terminar-compra {
    cursor: pointer;
    background-color: black;
    border: none;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 11px;

}