.contenedor-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 20px;

    margin-bottom: 30px;
}


.logo-img {
    width: 150px;
}

.ul-NavBar {
    
    height: 60px;
    text-align: center;

}

.li-NavBar {
    text-transform: uppercase;
    display: inline-flex;

    padding: 0px 13px;
}


.a-NavBar {
    font-family: "montserrat", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: solid 1px white;

    cursor: pointer;
}

.activeClass {
    border-top: 1px solid #2c3e50;
    border-bottom: 1px solid #2c3e50;

}

.a-NavBar:hover {
    color: grey;
    border-top: 1px solid #2c3e50;
    border-bottom: 1px solid #2c3e50;
}